CAPA.Web/Service References/TrabajadorServic/TrabajadorServ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrabajador_E">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trabajador_E" nillable="true" type="tns:Trabajador_E" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrabajador_E" nillable="true" type="tns:ArrayOfTrabajador_E" />
  <xs:complexType name="Trabajador_E">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecharegistró" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSexo" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="IdTrabajador" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioModificacion" type="xs:int" />
      <xs:element minOccurs="0" name="IDUSUARIOregistró" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UbigeoRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descSexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jefe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombUsuarioMod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombUsuarioReg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trabajador_E" nillable="true" type="tns:Trabajador_E" />
</xs:schema>