CAPA.Web/Service References/ContratoServic/ContratoServ1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21970/ContratoServ.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E" />
  <xs:complexType name="_listarxfiltroContratosReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaCese" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaIni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTipoCont" type="xs:int" />
      <xs:element minOccurs="0" name="nombTrab" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroDniTrab" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="_listarxfiltroContratosReq" nillable="true" type="tns:_listarxfiltroContratosReq" />
  <xs:complexType name="_listarxfiltroContratosResp">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E" minOccurs="0" name="lstContratos_E" nillable="true" type="q1:ArrayOfContrato_E" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="_listarxfiltroContratosResp" nillable="true" type="tns:_listarxfiltroContratosResp" />
</xs:schema>