CAPA.Web/Service References/ContratoServic/ContratoServ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21970/ContratoServ.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" />
  <xs:element name="listarxfiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" minOccurs="0" name="objRequest" nillable="true" type="q1:_listarxfiltroContratosReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarxfiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" minOccurs="0" name="listarxfiltroResult" nillable="true" type="q2:_listarxfiltroContratosResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>