CAPA.Web/Service References/UbigeoServic/UbigeoServ3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SEL_Entidades.SEL_E" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.SEL_E" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUbigeo_E">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ubigeo_E" nillable="true" type="tns:Ubigeo_E" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUbigeo_E" nillable="true" type="tns:ArrayOfUbigeo_E" />
  <xs:complexType name="Ubigeo_E">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoUbigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_Ubigeo" type="xs:int" />
      <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubigeo_E" nillable="true" type="tns:Ubigeo_E" />
</xs:schema>