CAPA.Web/Service References/UbigeoServic/UbigeoServ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UbigeoServ" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:21970/UbigeoServ.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:21970/UbigeoServ.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:21970/UbigeoServ.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.SEL_E.filtros" />
      <xsd:import schemaLocation="http://localhost:21970/UbigeoServ.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.SEL_E" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUbigeoServ_listarDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:listarDepartamento" />
  </wsdl:message>
  <wsdl:message name="IUbigeoServ_listarDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IUbigeoServ_listarProvincia_InputMessage">
    <wsdl:part name="parameters" element="tns:listarProvincia" />
  </wsdl:message>
  <wsdl:message name="IUbigeoServ_listarProvincia_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarProvinciaResponse" />
  </wsdl:message>
  <wsdl:message name="IUbigeoServ_listarDistrito_InputMessage">
    <wsdl:part name="parameters" element="tns:listarDistrito" />
  </wsdl:message>
  <wsdl:message name="IUbigeoServ_listarDistrito_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarDistritoResponse" />
  </wsdl:message>
  <wsdl:portType name="IUbigeoServ">
    <wsdl:operation name="listarDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IUbigeoServ/listarDepartamento" message="tns:IUbigeoServ_listarDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUbigeoServ/listarDepartamentoResponse" message="tns:IUbigeoServ_listarDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarProvincia">
      <wsdl:input wsaw:Action="http://tempuri.org/IUbigeoServ/listarProvincia" message="tns:IUbigeoServ_listarProvincia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUbigeoServ/listarProvinciaResponse" message="tns:IUbigeoServ_listarProvincia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarDistrito">
      <wsdl:input wsaw:Action="http://tempuri.org/IUbigeoServ/listarDistrito" message="tns:IUbigeoServ_listarDistrito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUbigeoServ/listarDistritoResponse" message="tns:IUbigeoServ_listarDistrito_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUbigeoServ" type="tns:IUbigeoServ">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarDepartamento">
      <soap:operation soapAction="http://tempuri.org/IUbigeoServ/listarDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarProvincia">
      <soap:operation soapAction="http://tempuri.org/IUbigeoServ/listarProvincia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarDistrito">
      <soap:operation soapAction="http://tempuri.org/IUbigeoServ/listarDistrito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UbigeoServ">
    <wsdl:port name="BasicHttpBinding_IUbigeoServ" binding="tns:BasicHttpBinding_IUbigeoServ">
      <soap:address location="http://localhost:21970/UbigeoServ.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>