CAPA.Web/Service References/FamTrabajadorServic/FamTrabajadorServ1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFamTrabajador_E">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FamTrabajador_E" nillable="true" type="tns:FamTrabajador_E" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamTrabajador_E" nillable="true" type="tns:ArrayOfFamTrabajador_E" />
  <xs:complexType name="FamTrabajador_E">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecharegistró" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdFamTrabajador" type="xs:int" />
      <xs:element minOccurs="0" name="IdSexo" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoLazoFam" type="xs:int" />
      <xs:element minOccurs="0" name="IdTrabajador" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioModificacion" type="xs:int" />
      <xs:element minOccurs="0" name="IDUSUARIOregistró" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UbigeoRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descSexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="familiar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombTrabajador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombUsuarioMod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombUsuarioReg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoLazoFam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FamTrabajador_E" nillable="true" type="tns:FamTrabajador_E" />
</xs:schema>