CAPA.Web/Service References/FamTrabajadorServic/FamTrabajadorServ2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21970/FamTrabajadorServ.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" />
  <xs:element name="listarxfiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" minOccurs="0" name="objRequest" nillable="true" type="q1:_listarxfiltroFamiliaTrabajadorReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarxfiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" minOccurs="0" name="listarxfiltroResult" nillable="true" type="q2:_listarxfiltroFamiliaTrabajadorResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarFamiliar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" minOccurs="0" name="objRequest" nillable="true" type="q3:_buscarFamilaTrabxIDReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarFamiliarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" minOccurs="0" name="buscarFamiliarResult" nillable="true" type="q4:_buscarFamilaTrabxIDResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>