CAPA.Web/Service References/CargoTrabajadorServ/CargoTrabajador2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E.filtros" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21970/CargoTrabajador.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E" />
  <xs:complexType name="_listarxfiltroCargoTrabajadorReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTrabaj" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="_listarxfiltroCargoTrabajadorReq" nillable="true" type="tns:_listarxfiltroCargoTrabajadorReq" />
  <xs:complexType name="_listarxfiltroCargoTrabajadorResp">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E" minOccurs="0" name="lstTrabajadorCargo_E" nillable="true" type="q1:ArrayOfTrabajadorCargo_E" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="_listarxfiltroCargoTrabajadorResp" nillable="true" type="tns:_listarxfiltroCargoTrabajadorResp" />
</xs:schema>