CAPA.Web/Service References/CargoTrabajadorServ/CargoTrabajador3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.RRHH_E" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrabajadorCargo_E">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrabajadorCargo_E" nillable="true" type="tns:TrabajadorCargo_E" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrabajadorCargo_E" nillable="true" type="tns:ArrayOfTrabajadorCargo_E" />
  <xs:complexType name="TrabajadorCargo_E">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecharegistró" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Cese" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Fin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Inicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdArea" type="xs:int" />
      <xs:element minOccurs="0" name="IdCargo" type="xs:int" />
      <xs:element minOccurs="0" name="IdJefe" type="xs:int" />
      <xs:element minOccurs="0" name="IdSede" type="xs:int" />
      <xs:element minOccurs="0" name="IdTrabajador" type="xs:int" />
      <xs:element minOccurs="0" name="IdTrabajadorCargo" type="xs:int" />
      <xs:element minOccurs="0" name="IdUnidad" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioModificacion" type="xs:int" />
      <xs:element minOccurs="0" name="IDUSUARIOregistró" type="xs:int" />
      <xs:element minOccurs="0" name="area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jefe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombUsuarioMod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombUsuarioReg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trabajador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrabajadorCargo_E" nillable="true" type="tns:TrabajadorCargo_E" />
</xs:schema>