CAPA.Web/Service References/ConsultaReniecServic/ReniecPideServ1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SEL_Entidades.PIDE_E" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.PIDE_E" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="_filtrarReniecReq_E">
    <xs:sequence>
      <xs:element minOccurs="0" name="nroDniCon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroDniUsua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroRucEnt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pwdUsua" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="_filtrarReniecReq_E" nillable="true" type="tns:_filtrarReniecReq_E" />
  <xs:complexType name="_filtrarReniecResp_E">
    <xs:sequence>
      <xs:element minOccurs="0" name="datosReniec" nillable="true" type="tns:datosReniec_E" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="_filtrarReniecResp_E" nillable="true" type="tns:_filtrarReniecResp_E" />
  <xs:complexType name="datosReniec_E">
    <xs:sequence>
      <xs:element minOccurs="0" name="apPrimer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apSegundo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coResultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deResultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prenombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="restriccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="datosReniec_E" nillable="true" type="tns:datosReniec_E" />
</xs:schema>