CAPA.Web/Service References/ConsultaReniecServic/ReniecPideServ2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21970/ReniecPideServ.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SEL_Entidades.PIDE_E" />
  <xs:element name="consultaReniecPide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SEL_Entidades.PIDE_E" minOccurs="0" name="objrequest" nillable="true" type="q1:_filtrarReniecReq_E" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaReniecPideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SEL_Entidades.PIDE_E" minOccurs="0" name="consultaReniecPideResult" nillable="true" type="q2:_filtrarReniecResp_E" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>